@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes typewriter-loop {
  0% {
    width: 0;
  }
  99% {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
  animation: typewriter-loop 6s steps(28, end) infinite;
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  animation: scroll 40s linear infinite;
}

.slider {
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

::-webkit-scrollbar {
  display: none;
}
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.pinned {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}